---
layout: default
title : Home
---

<ul class="posts">
    {% for post in paginator.posts %}
        {% if post.publish %}
            <li>
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p class="post-excerpt">{{ post.excerpt }}</p>
                <time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y.%m.%d" }}</time>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<nav id="post-pagination" class="pagination" aria-label="페이지 목록">
    <ol class="pages">
        <li class="page">
            {% if paginator.page == 1 %}
                <span class="current-page" aria-current="page">1</span>
            {% else %}
                <a href="/">1</a>
            {% endif %}
        </li>

        {% for count in (2..paginator.total_pages) %}
            <li class="page">
                {% if count == paginator.page %}
                    <span class="current-page" aria-current="page">{{ count }}</span>
                {% else %}
                    <a href="/page{{ count }}">{{ count }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
