---
layout: default
title : Home
---

<div class="container">
    <ul class="posts">
        {% for post in paginator.posts %}
            {% if post.publish %}
                <li class="post-item clearfix">
                    <h2 class="post-title"><a href="{{post.url}}"><span class="post-title-words">{{ post.title }}</span></a></h2>
                    <p class="post-excerpt">{{ post.excerpt }}</p>
                    <span class="post-date">{{ post.date | date: "%Y년 %m월 %d일" }} 작성</span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div id="post-pagination" class="pagination clearfix">
    <ol class="pages">
        <li class="page">
            {% if paginator.page == 1 %}
                <span class="current-page">1</span>
            {% else %}
                <a href="/">1</a>
            {% endif %}
        </li>

        {% for count in (2..paginator.total_pages) %}
            <li class="page">
                {% if count == paginator.page %}
                    <span class="current-page">{{count}}</span>
                {% else %}
                    <a href="/page{{count}}">{{count}}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</div>
