---
---

.posts {
    padding: 0;

    li {
        list-style: none;
        border-bottom: 1px solid #e9ebf0;
        padding-bottom: 0.6em;
        margin-bottom: 1em;
    }

    .post-title {
        margin-bottom: 0.2em;
        font-size: 2rem;
    }

    .post-excerpt {
        font-size: 1rem;
        color: #999;
        margin-bottom: 1em;
    }

    .post-date {
        text-align: right;
        font-size: 0.7rem;
        color: #999;
    }
}

/* 페이지네이터 */

.pagination {
    text-align: center;
    font-size: 18px;
    padding: 10px 0;
    margin-top: 30px;

    ol {
        display: inline-block;
        margin: 14px 24px;
    }

    li {
        display: inline-block;

        a {
            -webkit-transition: 0.2s ease-out all;
            margin: 4px 0;
            padding: 9px 14px;
            border-radius: 2px;
            font-size: 18px;
            color: #5a6173;
        }
    }

    .page .current-page,
    .page .current-page:hover {
        margin: 4px 0;
        padding: 9px 14px;
        border-radius: 2px;
        font-size: 18px;
        color: #5a6173;
        background-color: #f5f7fa;
    }

    .page a:hover {
        -webkit-transition: 0.2s ease-out all;
        background-color: #f5f7fa;
    }
}

del {
    font-size: 0.8em;
    color: #999;
}

.post {
    .tags {
        padding: 0;

        li {
            color: #999;
            font-size: 16px;
            display: inline-block;
        }
    }
}
